@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Roboto+Mono');

.label-guest{
	    display: inline-block;
    float: left;
    color: #d68494;
    font-weight: 100;
    margin-right: 10px;
    font-size: 21px;
    padding: 15px;
}
.input-control-guest{
	    border-bottom: 1px solid #f7d6aa;
    border-top: 0;
    display: inline-block;
    float: left;
    border-left: 0;
    border-right: 0;
    margin-top: 13px;
    min-width: 250px;
}
.form-control-guest{
	padding:50px 0;
	min-height: 300px;
}
.bg-flower{
	background: url(bg-flower.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: 50% 50%;
    overflow: hidden;
    padding: 27px 0;
}
.header-container-guest{
	    color: #9f8f56;
    text-transform: uppercase;
}

.header-home{
       font-family: 'Indie Flower', cursive;
    font-size: 82px;
    text-transform: uppercase;
    text-align: center;
    margin: 43px 0;
    color: #b3aac2;
}
.paragraph-home{
	font-size: 20px;
    line-height: 35px;
    font-family: 'Roboto Mono', monospace;
    text-align: justify;
    margin: 25px 0;
}
.label-name{
       font-family: 'Indie Flower', cursive;
    font-size: 65px;
    text-align: right;
    color: #f1a1bc;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-90deg);
    margin-top: 27px;
}
.date-event{
    font-size: 21px;
    text-transform: uppercase;
    display: block;
    text-align: right;
    color: #969caa;
    font-family: 'Roboto Mono', monospace;
}
.bg-footer-home{
	    width: 49%;
    -webkit-transform: rotate(-160deg);
    -moz-transform: rotate(-160deg);
    margin-top: 50px;
}
.btn-primary-radius {
	    float: right;
    background: #f1a1bc;
    border: 0;
    border-radius: 20px;
    padding: 12px 39px;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    margin-top: 100px;
    margin-right: 100px
}
.btn-primary-radius:hover{
    color: red;
    background: wheat;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #f1a1bc;
}
.no-message-template label, .no-message-template a{
    display:inline-block;
    float:left;
}
.no-message-template {
    margin: 24% auto 0 auto;
}
.no-message-template a{
    margin-top:0 !important;
    margin-right:0 !important;
}
.primary-menu{
    padding:0;
}
.logout-link{
    background: #c7b87a;
}
.logout-link a{
    color:#ffffff;
}
.alert.alert-success,.alert.alert-danger{
    background: #fff;
    max-width: 911px;
    margin: 0 auto;
    height: 50px;
    font-weight: bold;
    opacity: 0.7;
}
/*body.msg-container{*/
    /*background: url(bg-flower.png);*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-position: 50% 50%;*/
/*}*/
body.msg-container .label-guest{
    font-size: 15px;
    font-weight: bold;
    display:block;
    width:100%;
    padding: 0;
}
body.msg-container .input-control-guest{
    background: transparent;
    display: block;
    max-width: 500px;
    min-width: 500px;
    width: 500px;
    float: left;
    text-align: left;
}
.group-btn{
    display: block;
    float: right;
    width: 308px;
}
.group-btn .btn-primary-radius{
    margin: 20px 5px;
    padding: 7px 21px;
}
.msg-container .form-control-guest{
    padding: 49px 0 12px 0;
    border-bottom: 1px solid #fed8d1;
    float: left;
    width: 96%;
}
.container-content{
    border: 1px solid #f9f0ca;
    padding: 0;
    border-top: 0;
}
.fa-comments,.fa-reply-all{
    font-weight: 900;
    font-size: 39px;
    display: inline-block;
    color: #c7b87a;
    float: left;
    margin-right: 35px;
}
.msg-container .form-control-guest.reply-comment{
    float: right;
    width: 70%;
    margin-right:35px;
}
.form-control-guest.reply-comment.pull-right .input-control-guest{
    width: 100%;
    border: 1px solid #f1f1f1;
    max-width: 100%;
    box-shadow: 5px 10px 18px #c1c1c1;
}
.reply-comments{
    margin-bottom: 70px;
    margin-top: 94px;
}
